@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerMedium.eot');
  src: local('Muller Medium'), local('MullerMedium'),
      url('../fonts/MullerMedium.woff2') format('woff2'),
      url('../fonts/MullerMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerRegular.eot');
  src: local('Muller Regular'), local('MullerRegular'),
      url('../fonts/MullerRegular.woff2') format('woff2'),
      url('../fonts/MullerRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerBold.eot');
  src: local('Muller Bold'), local('MullerBold'),
      url('../fonts/MullerBold.woff2') format('woff2'),
      url('../fonts/MullerBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}


html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
  background-color: #f1f1f1;
	font-family: 'Muller', sans-serif;
}

button {
  cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {

   opacity: 1;

}

*:focus {
  outline: none;
}


/* reset */

.reset-margin {
  margin: 0;
}

.reset-padding {
  padding: 0;
}

/* flex */

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.flex-horizontal {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content:space-around;
}

.flex-align {
  align-items: start;
}

.flex-align-center {
  align-items: center;
}

.outline {
  outline-color: black;
  outline-width: 2px;
  outline-style: dashed;
}

/* container */

.container {
  margin: 0 auto;
  width: 1170px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1em;
}

.container-padding-top {
  padding-top: 30px;
}

.container-padding-bot {
  padding-bottom: 30px;
}

.section-margin:not(:last-child) {
  margin-bottom: 70px;
}

/* base */

.white-block {
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
}

.main-buttons {
  height: auto;
  padding: 13px 20px;
  border: 1px solid #cc9933;
  background:inherit;
  border-radius: 10px;

  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #cc9933;
}

.light-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height */


  color: #999999;
}

.bold-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  /* identical to box height */


  color: #000000;
}

.mid-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height */


  color: #000000;

}

.main-header {
  margin: 0;
  margin-bottom: 20px;
  padding-left: 45px;

  font-weight: 400;
  font-size: 40px;
  line-height: 40px;

  color: #333333;
}

/* header */

.header {
  margin-bottom: 70px;
}

.header-container {
  align-items: center;
}

.header-links {
  margin-bottom: 30px;
}

.header-logo-link {
  min-width: 261px;
  margin-right: 40px;
  align-self: start;
}

.header-list {
  list-style: none;
  gap: 40px;
}

.header-buttons-list {
  list-style: none;
  gap: 45px
}


.header-list-item-contacts {
  margin-right: 115px;
}

.header-contacts {
  margin-right: auto;
}

.header-contacts-tel {
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  line-height: 20px;
  color: #666;
}

.header-home-link {
  padding-left: 30px;
  background-image: url('../img/keyboard_tab.svg');
  background-repeat: no-repeat;
  background-position: left;
  line-height: 24px;
  color: #cc9933;
}

.header-nav {
  height: 70px;
  gap: 115px;
  line-height: 16px;
  color: #666666;
}

.header-flex {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

/* offers */

.main-offers-flex {
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px;
}

.main-offers-block {
  min-height: 540px;
  justify-content: space-between;
  gap: 24px;
}

.main-offers-list-item {
  display: flex;
  align-items: end;
  width: 573px;
  padding: 40px 108px 40px 45px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex-grow: 1;
}

.main-offers-list-item-header {
  display: inline-block;
  width: fit-content;
  max-width: 400px;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: #fff;
}

.main-offers-list-item-price {
  display: block;
  margin-bottom: 47px;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
  opacity: 0.8;
}

.main-offers-list-item-descr {
  display: inline-block;
  width: 105px;
  padding-right: 20px;
  background-image: url('../img/orange-arrow.svg');
  background-repeat: no-repeat;
  background-position: right;
  font-size: 16px;
  line-height: 16px;
  color: #F0BF5F;
}

.main-offers-list-item-header-bigger {
  font-size: 60px;
  line-height: 60px;
}

.main-offers-list-item-price-bigger {
  font-size: 30px;
  line-height: 30px;
}

.main-offers-list-item-image1 {
  background-image: url('../img/maldives-image.jpg');
}

.main-offers-list-item-image2 {
  background-image: url('../img/crit-image.jpg');
}

.main-offers-list-item-image3 {
  background-image: url('../img/premium-image.jpg');
}

/* about */

.main-about-paragraph {
  display: inline-block;
  width: 888px;
  line-height: 200%;
  color: #000000;
}

/* services */

.main-services-list {
  list-style: none;
  flex-wrap: wrap;
  row-gap: 24px;
  gap: 24px;
  min-height: 685px;
}

.main-services-list-item {
  max-width: 573px;
}

.main-services-list-item-content {
  padding: 191px 126px 35px 45px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}

.main-services-list-item-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #000000;
}

.service-photo-1 {
  background-image: url('../img/services-1.jpg') ;
}

.service-photo-2 {
  background-image: url('../img/services-2.jpg') ;
}

.service-photo-3 {
  background-image: url('../img/services-3.jpg') ;
}

.service-photo-4 {
  background-image: url('../img/services-4.jpg') ;
}

.main-services-list-item-header {
  display: inline-block;
  width: fit-content;
  max-width: 100%;
  padding-right: 22px;
  background-image: url('../img/yellow-arrow.svg');
  background-position: right center;
  background-repeat: no-repeat;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: #cc9933;
}

/* advantages */

.main-advantages-list {
  display: flex;
  row-gap: 22px;
  gap: 22px;
  list-style: none;
  flex-wrap: wrap;
}

.main-advantages-list-item {
  max-width: 276px;
  min-height: 276px;
  padding: 116px 42px 32px 45px;
}

.main-advantages-list-item-paragraph {
  line-height: 200%;
  color: #000000;
}

.advantages-position {
  background-position: 45px 40px;
  background-repeat: no-repeat;
  background-size: auto;
}

.advantages-image-1 {
  background-image: url('../img/advantages-1.svg');
}

.advantages-image-2 {
  background-image: url('../img/advantages-2.svg');
}

.advantages-image-3 {
  background-image: url('../img/advantages-3.svg');
}

.advantages-image-4 {
  background-image: url('../img/advantages-4.svg');
}

.advantages-image-5 {
  background-image: url('../img/advantages-5.svg');
}

.advantages-image-6 {
  background-image: url('../img/advantages-6.svg');
}

.advantages-image-7 {
  background-image: url('../img/advantages-7.svg');
}

.advantages-image-8 {
  background-image: url('../img/advantages-8.svg');
}


/* placement */

.main-placement-list {
  display: flex;
  gap: 24px;
  list-style: none;
  flex-wrap: wrap;
}

.main-placement-list-item {
  width: 374px;
}

.main-placement-list-item-image {
  display: block;
  background-position: center;
  background-size: cover;
}

.main-placement-list-item-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.main-placement-list-item-price {
  max-width: 180px;
}

.main-placement-list-item-name {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1em;
}

.main-placement-list-item-btn {
  display: block;
  max-width: 80%;
}

.main-placement-list-item-content {
  padding: 32px 45px 45px;
  font-size: 16px;
  line-height: 200%;
}

.main-placement-list-item-address {
  display: inline-block;
  max-width: 80%;
  margin-bottom: 20px;
}

.main-placement-list-item-rating {
  display: inline-flex;
  justify-content: space-between;
  font-size: 0px;
  width: 94px;
  gap: 6px;
}

.main-placement-list-item-show-more {
  padding: 373px 54px 27px 54px;
  background-image: url('../img/show-more-image.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-placement-list-item-link {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-right: 16px;
  white-space: nowrap;
  background-image: url('../img/arrow.svg');
  background-position: right center;
  background-repeat: no-repeat;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: #fff;
}

/* offer */

.input-reset {
  border: 0;
}

.main-offer {
  padding-left: 40px;
  padding-top: 45px;
  padding-right: 45px;
  padding-bottom: 45px;
  min-height: 256px;
  background-color: #e9e9e9;
  border-radius: 15px;
}

.main-offer-header {
  margin-bottom: 20px;
  padding-left: 0px;
  font-family: 'Muller';
  color: #000;

}

.main-offer-form {
  padding-left: 5px;
  width: 100%;
}

.main-offer-form-item {
  max-height: 45px;
}

.main-offer-form-btn {
  padding: 13px 30px;
  height: 45px;
  width: 108px;

}

.main-offer-form-descr {
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 12px;
  color: #000;
}

.main-offer-form-input {
  font-size: 16px;
  line-height: 16px;
  color: #000;
}

.main-offer-fields {
  display: flex;
  align-items: center;
  gap: 41px;
  padding-left: 28px;
  padding-right: 28px;
  height: 106px;
  border: 0;
}

/* contacts */

.contacts-block {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  gap: 53px;
  width: 100%;
  min-height: 618px;
  padding: 45px;
}

.contacts-block-image {
  min-width: 653px;
  min-height: 528px;
  border-radius: 10px;
  background-image: url("../img/contacts.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.contacts-header {
  position: absolute;
  top: 0;
  left: 0;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #000;
}

.contacts-link {
  text-decoration: none;
  font-family: inherit;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  white-space: nowrap;
  color: #cc9933;
}

.contacts-paragraph {
  font-family: inherit;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}

.contacts-comment {
  font-family: inherit;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  color: #999;
}

.contacts-block-item {
  display: block;
  position: relative;
  padding-left: 145px;
  padding-bottom: 23px;
  border-bottom: 1px #e9e9e9 groove;
}

.contacts-block-item:not(:last-child) {
  margin-bottom: 25px;
}

.contacts-hours:not(:last-child) {
  margin-bottom: 45px;
}

.contacts-button {
  width: 213px;
  height: 70px;
}

/* footer */

.footer {
  background: #333;
  border-radius: 15px;
}
